.container {
  width: 98%;
  max-width: 1200px;
  margin: 0.5em auto;
}


@media (min-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 0.5em;
    gap: 0.5em;
  }
  .contentWrapper {
  grid-column: 3 / span 6;
}

}
