.errorMessage {
  color: var(--red-error-color);
  text-align: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  max-width: 500px;
  width: 98%;
  margin: 0 auto;
  background-color: var(--search-bg-color);
  border-radius: 5px;
  align-items: center;
  padding: 0.25em;
}

.input {
  border: none;
  background-color: transparent;
  width: 80%;
  display: block;
  padding: 0.3em;
  font-size: 1.4rem;
}

.input:focus {
  border: none;
  outline: none;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: auto;
  display: block;
  font-size: 1.75rem;
}
